@use '../../styles/variables' as v;

.single-page-card {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 90%;
    position: relative;

    @media (min-width:768px) {
        width: 100%;
    }

    div[class^="col"]:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        max-width: 80%;
        max-height: 60vh;
        transition: transform 0.3s;
        
        @media (min-width:1400px) {
            max-width: 100%;
        }

        &:hover {
            transform: scale(1.2); 
            cursor: zoom-in;
        }
    }

    .single-text-area {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        height: 100%;
    }

    .single-line::before {
        content: "";
        display: inline-block;
        border-left: 1px solid v.$color2; 
        height: 100%; 
        margin-right: 10px;
    }
}