@use '../../styles/variables' as v;
@use '../../styles/mixin' as m;

.carousel-comp{
    cursor: pointer;
}

.carouselItem {
    padding: 1rem 0;
    text-align: center;
    height: 40vh;
    position: relative;
    border: 2px solid v.$color2;
    background: rgb(204,204,204);
    background: linear-gradient(290deg, rgba(204,204,204,1) 48%, rgba(33, 149, 243, 0.623) 100%);
    overflow: hidden;

    @media(min-width:768px) {
        height: 35vh;
        height: 25vh;
        @media(min-width:992px) {
            height: 45vh;
        }
    }

    img {
        position: absolute;
        width: 40vw;
        right: 0;
        object-fit: cover;
        filter: grayscale(100%) brightness(80%);
        -webkit-filter: grayscale(100%) brightness(80%);
}
    .carouselText {
        font-weight: 500;
        position: absolute;
        color: v.$color4;
        text-align: center;
        left: 33%;
        top: 50%;
        @include m.transform-translate;

        @media (min-width:768px) {
            font-size: 1.4rem;
            width: 35%;
        }
}
}