@use '../../styles/variables' as v;
@use '../../styles/mixin' as m;
.discover {
    
    div[class^="mb"] {
        position: relative;
        overflow: hidden;

        p {
            opacity: 0;
        }

        &:hover {

            p {
                color: linear-gradient(to right, #fff, v.$color5);
                opacity: 1;
                transition: all 1.3s;
                -webkit-transition: all 1.3s;
                -moz-transition: all 1.3s;
                -ms-transition: all 1.3s;
                -o-transition: all 1.3s;
            }

            img {
                @include m.transform-scale;
            }
        }

        img {
            overflow: hidden;
            cursor: pointer;
            @include m.transition-transform;
            
}

        .texts {
            position: absolute;
            bottom: 0;
            left: 10%;
            color: v.$color1;
            cursor: pointer;

            @media (min-width:768px)  {
                left: 12%;
            }
        }
    }
    
}

