@use '../../styles/variables' as v;
@use '../../styles/mixin' as m;
.discover {
    
    div[class^="mb"] {
        position: relative;
        overflow: hidden;

        &:hover {

            img {
                @include m.transform-scale;
            }
        }

        img {
            overflow: hidden;
            cursor: pointer;
            @include m.transition-transform;
            
}

        .texts {
            position: absolute;
            bottom: 0;
            left: 10%;
            color: v.$color1;
            cursor: pointer;

            @media (min-width:768px)  {
                left: 12%;
            }
        }
    }
    
}