@use '../../styles/variables' as v;
.discover {
    
    div[class^="mb"] {
        position: relative;
        overflow: hidden;

        img {
            cursor: pointer;
            transition: transform .4s ease-in-out ;
            -webkit-transition: transform .4s ease-in-out ;
            -moz-transition: transform .4s ease-in-out ;
            -ms-transition: transform .4s ease-in-out ;
            -o-transition: transform .4s ease-in-out ;
            &:hover {
                transform:scale(1.2) ;
                -webkit-transform:scale(1.2) ;
                -moz-transform:scale(1.2) ;
                -ms-transform:scale(1.2) ;
                -o-transform:scale(1.2) ;
}
}

        .texts {
            position: absolute;
            bottom: 0;
            left: 10%;
            color: v.$color1;
            cursor: pointer;

            @media (min-width:768px)  {
                left: 12%;
            }
        }
    }
    
}