@use '../../styles/variables' as v;
.swiper-inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    .arrow {
        font-size: 35rem;
        cursor: pointer;
        @media (min-width:768px) {
            font-size: 15rem;
        }
    }
}